:root {
    --blue-500: hsl(220, 98%, 61%);
    --check-gradient: linear-gradient(hsl(192, 100%, 67%),
            hsl(280, 87%, 65%));

    --bg-layout: hsl(0, 0%, 98%);
    --bg-card: hsl(0, 0%, 100%);

    --text-primary: hsl(235, 19%, 35%);
    --text-secondary: hsl(236, 9%, 61%);

    --border-color: hsl(233, 11%, 84%);

    --bg-hero: url("../images/bg-desktop-light.jpg");


    --border-radius: 10px;
}


:root[data-theme="dark"] {
    --bg-layout: hsl(235, 21%, 11%);
    --bg-card: hsl(235, 24%, 19%);

    --text-primary: hsl(234, 39%, 85%);
    --text-secondary: hsl(236, 9%, 61%);

    --border-color: hsl(237, 14%, 26%);

    --bg-hero: url("../images/bg-desktop-dark.jpg")
}

input[type=text] {
    box-sizing: border-box;
}